@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	font-family: 'Noto Sans TC', sans-serif;
}
.map {
	background-image: url(/image/map.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
}
.mask {
	background-color: rgba(0, 0, 0, 0.6);
	color: #ffffff;
	position: fixed;
	width: 100%;
	height: 100%;
	font-size: 3em;
	text-align: center;
	padding-top: 15%;
}
.qr {
	background-image: url(/image/qr.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100px;
	height: 100px;
	margin: 0 auto;
}
.token {
	width: 30px;
	height: 30px;
	position: absolute;
	background-image: url(/image/gru.png);
	background-size: cover;
	top: 10px;
	left: 10px;
	border-radius: 50%;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}
.token.p2 {
	left: 60px;
}
.token.selected {
    -webkit-animation: blink 1s;  /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite;  /* Chrome, Safari, */
	animation: blink 1s;
	animation-iteration-count: infinite;
}
.token.yellow {
	background-color: yellow;
}
.token.green {
	background-color: green;
}
.token.hide {
	display: none;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes blink {
	0%   {opacity: 0.5;}
    50%  {opacity: 0.5;}
    51%  {opacity: 1;}
	100%   {opacity: 1}
}

@keyframes blink {
	0%   {opacity: 0.5;}
    50%  {opacity: 0.5;}
    51%  {opacity: 1;}
	100%   {opacity: 1}
}